@import "../vars.scss";

//------library__column---------------------------------------
.library__column {
  flex: 0 1 33.333%;
  justify-content: center;
  padding-right: 15px;
  min-height: 100%;
  margin-bottom: 20px;
  color: $main-color;
}

.library-item:hover {
  box-shadow: 5px 5px 5px $box-shadow;
  transition: all 0.3s ease 0s;
  outline: solid 4px $outline-color;
}

.first {
  background-color: rgba(227, 223, 220, 1);
}
.second {
  background-color: rgba(197, 209, 195, 0.892);
}
.therd {
  background-color: rgba(234, 224, 204, 1);
}
.fourth {
  background-color: rgba(212, 212, 229, 1);
}

.library-item {
  @include flex-column;
  height: 100%;
  border-radius: 20px;
  height: 100%;
  max-width: 410px;
  box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.638),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  outline: 2px solid rgba(65, 82, 61, 0.84);
  a {
    color: $main-color;
  }

  &__image {
    border-radius: 20px;
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px 20px 0px 0px;
    }
  }
  &__body {
    @include flex-column;
    align-items: center;
    padding: 30px;
    flex: 1 1 auto;
  }
  &__info {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
    border-bottom: 0.1px solid $main-color;
  }
  &__content {
    flex: 1 1 auto;
    border-bottom: 0.1px solid $main-color;
    margin-bottom: 20px;
  }
  &__number {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 10px;
    margin: 0px;
  }
}
