@import "../vars.scss";

//---------карточки выбора в игре-----------------------------------------------------

.cards {
  &__footer {
    @include flex-column;
    align-items: center;
    padding: 0px 15px;
    margin: 0px 20px;
  }

  &__button {
    display: flex;
    justify-content: center;
    a {
      color: $main-color;
    }
  }
  &__selection:hover {
    box-shadow: 2px 2px 2px $box-shadow;
    transition: all 0.2s ease 0s;
    outline: solid 1px $outline-color;
  }

  &__selection {
    @include flex;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 5px 36px;
    letter-spacing: 0.2px;
    padding: 2px 15px;
    min-height: 100px;
    text-decoration: none;
    letter-spacing: 0.2px;
    font-weight: bold;
    font-size: 18px;
    line-height: 105%;
    min-width: 250px;
    text-transform: uppercase;
    text-align: center;
    outline: 0.1px solid $outline-color;
    background: $background-color;
  }

  &__link {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #82ac8d;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 7px;

    a {
      text-align: center;
      color: $main-color;
      text-transform: uppercase;
    }
  }
  &__link:hover {
    box-shadow: 2px 2px 2px $box-shadow;
    transition: all 0.2s ease 0s;
    outline: solid 1px $outline-color;
  }
}
