@import "../vars.scss";

//-----words-------------------------------------
.words {
  padding: 20px;
  color: $main-color;

  &__title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 10px;
  }

  &__body {
    @include flex;
    flex-direction: column;
  }

  &__wrapper {
    max-height: 70vh;
    overflow: auto;
    padding: 20px 0px;
    margin: 20px 0px;
  }

  &__aside {
    flex: 0 1 20%;
  }
  &__list {
    @include flex-column;
    flex: 0 1 80%;
  }
}

.main__title {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-weight: 700;
  font-size: 22px;
  line-height: 57px;
  text-transform: uppercase;
  color: $main-color;
}
