@import "../vars.scss";

//-------карточка с игрой ---------------------------------------------------------------
.cards {
  &__item-change {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item-move {
    transform: rotateY(-180deg);
  }

  &__item-sign {
    max-width: 30px;

    img {
      width: 100%;
    }
  }

  &__item-front,
  &__item-back {
    @include flex;
    flex-direction: column;
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    background-color: $background-second-color;
    width: 400px;
    min-height: 500px;
    outline: 2px solid rgba(65, 82, 61, 0.84);
    box-shadow: 0 10px 15px -5px rgba(0, 0, 0, 0.638),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }

  &__item-en {
    font-size: 35px;
    padding: 20px 0px;
    color: $outline-color;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__item-tr {
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    // color: rgba(103, 32, 99, 0.562);
  }
  &__item-ru {
    text-align: center;
    padding: 20px 0px;
    font-size: 30px;
    color: rgba(103, 32, 99, 0.562);
  }

  &__item-title {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0px;
    border-bottom: 0.1px solid $outline-color;
    margin: 0px;
  }

  &__item-text {
    display: flex;
    text-align: center;
    align-items: center;
    flex: 1 1 auto;
    padding-top: 50px;
    font-size: 35px;
    line-height: 110%;
    font-weight: bold;
    padding: 20px 0px;
  }
  &__item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1 1 auto;
    padding-top: 50px;
    font-size: 35px;
    line-height: 110%;
    font-weight: bold;
    padding: 20px 0px;
  }
}
